@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #faf8f2;
}

@font-face {
  font-family: "Kalam";
  src: url("./assets/fonts/Kalam_Complete/Fonts/TTF/Kalam-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
}
.kalam-text {
  font-family: "Kalam", cursive;
}

.brain-shake {
  animation: brainShake 0.12s infinite;
}

@keyframes escapeFromBrain {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }

  45% {
    transform: scale(1.15);
    filter: blur(2px);
  }

  100% {
    transform: scale(0.05);
    opacity: 0;
    filter: blur(25px);
  }
}

@keyframes brainShake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  10% {
    transform: translate(-4px, 2px) rotate(-0.3deg);
  }

  20% {
    transform: translate(5px, -3px) rotate(0.3deg);
  }

  30% {
    transform: translate(-6px, 2px) rotate(-0.4deg);
  }

  40% {
    transform: translate(4px, 4px) rotate(0.3deg);
  }

  50% {
    transform: translate(-5px, -3px) rotate(-0.3deg);
  }

  60% {
    transform: translate(6px, 1px) rotate(0.4deg);
  }

  70% {
    transform: translate(-4px, -2px) rotate(-0.3deg);
  }

  80% {
    transform: translate(3px, 3px) rotate(0.2deg);
  }

  90% {
    transform: translate(-2px, -1px) rotate(-0.1deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
